.ads-filter {
  width: 100%;
  font-size: 16px;
  @include media-sm {
    font-size: 10px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  &__slider-wrap {
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 300px;
    gap: 5px;
  }

  &__slider-label {
    color: #888;
    width: 58px;
    text-align: center;
    white-space: nowrap;
  }

  &__sort-row {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }

  &__statuses,
  &__select,
  &__slider,
  &__reset {
    min-width: 150px;
  }

  &__input {
    min-width: 180px;
  }

  @include media-sm {
    &__group {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
    &__slider-wrap {
      max-width: 100%;
    }
    &__sort-row {
      margin-top: 20px;
    }
  }
}
