@use './variables' as *;

@mixin media-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-query($size) {
  @media (max-width: $size) {
    @content;
  }
}
