// breakpoints for media-queries

$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 375px;

// colors

$color-accent: #1677ff;
$color-green: #52c41a;
$color-red: #ff4d4f;
$color-yellow: #ffc107;
$color-yellow-dark: #ffc53d;
$color-light-grey: #888;
$color-divider: #f0f0f0;

$color-white: #fff;
$color-dark-grey: #242424;
