:root {
  /* общие переменные */
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family), sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Светлая тема */
:root,
:root[data-theme='light'] {
  --color-text: #333333;
  --color-background: #ffffff;
  --color-border: #d9d9d9;
  --color-card-bg: #ffffff;
  --color-muted: #8c8c8c;

  color-scheme: light;
}

/* Темная тема */
:root[data-theme='dark'] {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #141414;
  --color-border: #434343;
  --color-card-bg: #1f1f1f;
  --color-muted: #bfbfbf;

  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#root {
  min-height: 100vh;
  background-color: var(--color-background);
}
